figure img {
  max-width: 202px;
}

figure span {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 202px;
  width: 202px;
}

ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.5;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  padding: 11px;
  text-align: center;
  width: 202px;
}

li a {
  display: block;
}
